POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=mixologist

FRONTEND_PORT=8080

# Для локального запуска миграций и backend вне Docker.
DB_URL=postgres://postgres:postgres@localhost:5432/mixologist?sslmode=disable
